
<div class="container">
  <div
    class="alert border-white m-2"
    style="display: flex; justify-content: space-between"
  >
    <% if (user.Name) { %>
    <h4 class="text-white"><%= user.Name %></h4>
    <p id="userId" hidden><%= user.Id %> </p>
    <% }else { %>
    <h3 class="text-white">User Name</h3>
    <% } %>
    <a class="btn btn-danger" href="/logout">Logout</a>
  </div>
  <div class="statusBox col-10 col-md-6 container-fluid">
    <h5 class="m-auto">
      Status : <span id="statusDefault"><%= status %> </span>
      <span id="Active" class="text-success" hidden>Active </span>
      <span id="Busy" class="text-primary" hidden>Busy </span>
      <span id="Break" class="text-warning" hidden>Break </span>
      <span id="Inactive" class="text-danger" hidden>Inactive </span>
    </h5>
    <div class="col-md-7 col-8" style="margin: auto">
      <select
        name="Status"
        onchange="statusChange(event)"
        class="form-control"
        required
      >
        <option value="">Select An Option</option>
        <option value="Active">Active</option>
        <option value="Busy">Busy</option>
        <option value="Break">Break</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
  </div>
  <div class="container-fluid">
    <h3 class="text-white text-center">User List & Status</h3>
    <div class="row" style="justify-content: space-evenly; align-items: center">
      <div class="col-md-5 col-5 userStatusList">
        <p class="h5 text-center text-white mt-2">Active Users</p>
        <ul class="ulList">
          <div class="activeList">
          </div>
        </ul>
      </div>
      <div class="col-md-5 col-5 userStatusList">
        <p class="h5 text-center text-white mt-2">Busy Users</p>
        <ul class="ulList">
          <div class="busyList">
          </div>
        </ul>
      </div>
      <div class="col-md-5 col-5 userStatusList">
        <p class="h5 text-center text-white mt-2">Break Users</p>
        <ul class="ulList">
          <div class="breakList">
          </div>
        </ul>
      </div>
      <div class="col-md-5 col-5 userStatusList">
        <p class="h5 text-center text-white mt-2">Inactive Users</p>
        <ul class="ulList">
          <div class="inactiveList">
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
