<div class="container-fluid">
  <div class="row text-center">
    <div
      class="col-md-5 col-6 text-center alert border-primary landingBox"
    >
      <a href="/register" class="btn btn-danger m-2">Register</a>
      <a href="/login" class="btn btn-primary m-2">Login</a>
    </div>
  </div>
</div>