<%- include('../partials/user-header') %>
<div class="container-fluid">
  <div class="row text-center">
    <div
      class="col-md-5 col-6 text-center alert border-primary"
      style="margin-left: 30%; margin-top: 20%; padding: 5%"
    >
      <a href="/register" class="btn btn-danger m-2">Register</a>
      <a href="/login" class="btn btn-primary m-2">Login</a>
    </div>
  </div>
</div>
<%- include('../partials/user-footer') %>
